{% extends 'job_app/base.html' %}
{% block container %}
{% load crispy_forms_tags %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
    {% include 'job_app/company_left_menu.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <section>
              <h2 class="h4 pt-2 pb-3">{% if form.title.value is None %}Создать вакансию{% else %}{{ form.title.value }}{% endif %}</h2>
                {% if messages %}
                    {% for message in messages %}
                      <p class="alert alert-info" role="alert">{{ message }}</p>
                    {% endfor %}
                {% endif %}
              {% crispy form form.helper %}
                {% if 'create' not in request.path %}
                    <section id="applications">
                        <h2 class="h4 pt-5 pb-3">Отклики - {{ applications.count }}</h2>
                        {% for application in applications %}
                          <div class="card mt-3">
                            <div class="card-body px-4">
                              <p class="mb-1 font-weight-bold">{{ application.written_username }}</p>
                              <p class="mb-2"><a href="tel:{{ application.written_phone }}" class="text-dark">{{ application.written_phone }}</a></p>
                              <p class="mb-1">{{ application.written_cover_letter }}</p>
                            </div>
                          </div>
                    {% endfor %}
                    </section>
                {% endif %}
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}